python==3.11
numpy
pandas
scipy
scikit-learn
statsmodels
matplotlib
seaborn
pyarrow
jupyter
jupyterlab
ipykernel
tqdm
requests
python-dotenv
torch
xgboost
lightgbm
nltk
spacy
gensim
transformers
datasets
tokenizers
sentence-transformers
huggingface_hub
vaderSentiment
yfinance
pandas-market-calendars
wrds
pyyaml
